<html>
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'tutorMe/apointment.css' %}" rel="stylesheet">

    <title>Tutor Requests</title>
</head>

{% include "nav.html" %}

<div class="container" style="font-family: 'Inter', sans-serif;">

    <h5 class="text-center pt-5 pb-3" style="font-weight: bold;">
        Appointments
    </h5>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Class Name</th>
        <th>Student Name</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    </thead>
    <tbody>
    {% for schedule in list %}
    <tr>
        <td>{{ schedule.0 }}</td>
        <td>
            <div class="container">
                <div class="col p-2">
                    <div class="col p-2">
                        {{ schedule.2 }}
                    </div>
                    <div class="row">
                        <div class="col p-2">
                            <a class="btn btn-primary" href="{% url 'TutorChat' schedule.1 schedule.2 %}">Chat <i
                                    class="fa fa-comment-o"> </i></a>
                        </div>
                        <div class="col">

                            <form action="{% url 'cancel_tutor' schedule.0 schedule.1 schedule.2 %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Cancel <i
                                        class="fa fa-times-rectangle-o"> </i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td> {% for times in schedule.3 %}
            {{ times }}
            {% endfor %}
        </td>
        <td> {% for times in schedule.4 %}
            {{ times }}
            {% endfor %}
        </td>
        <td> {% for times in schedule.5 %}
            {{ times }}
            {% endfor %}
        </td>
        <td> {% for times in schedule.6 %}
            {{ times }}
            {% endfor %}
        </td>
        <td> {% for times in schedule.7 %}
            {{ times }}
            {% endfor %}
        </td>
        <td> {% for times in schedule.8 %}
            {{ times }}
            {% endfor %}
        </td>
        <td> {% for times in schedule.9 %}
            {{ times }}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</html>
