{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% include "navStudent.html" %}
{% load static %}
<link href="{% static 'tutorMe/sched.css' %}" rel="stylesheet">

<html>
<head>
	{% for Class in list %}
	<title>Weekly Schedule {{Class}} </title>
	  {% endfor %}
	<meta charset="utf-8">
	<meta id="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
	<script>
		function inputClicked(input) {
		console.log("input clicked");
			input.classList.add("clicked");
		}

		function inputSubmit(input) {


		}
	</script>
</head>
<form action="{% url 'calendar_student' tutor name mnemonic %}" method="POST">
  <div class="form-group">
	  {% csrf_token %}
	<body>
			<div class="container">
				<h2 class="text-center my-3">Schedule Times with {{tutor}} for {{name}} </h2>
                <h4 class = "text-center" >
	            ${{tutor_schedule.7}} per hour
	            </h4>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Time</th>
							<th scope="col">Monday</th>
							<th scope="col">Tuesday</th>
							<th scope="col">Wednesday</th>
							<th scope="col">Thursday</th>
							<th scope="col">Friday</th>
							<th scope="col">Saturday</th>
							<th scope="col">Sunday</th>
						</tr>
					</thead>
					<tbody>
               <tr>
                  <th scope="row">8:00 am - 9:00 am</th>
                  <td><input name="checkbox" value='m8' class="form-check" type="checkbox" {% if 8 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 8  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu8' class="form-check" type="checkbox" {% if 8 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 8  in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w8' class="form-check" type="checkbox" {% if 8 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 8  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th8' class="form-check" type="checkbox" {% if 8 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 8  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f8' class="form-check" type="checkbox" {% if 8 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 8  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa8' class="form-check" type="checkbox" {% if 8 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 8  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su8' class="form-check" type="checkbox" {% if 8 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 8  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">9:00 am - 10:00 am </th>
                  <td><input name="checkbox" value='m9' class="form-check" type="checkbox" {% if 9 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 9  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu9' class="form-check" type="checkbox" {% if 9 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 9 in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w9' class="form-check" type="checkbox" {% if 9 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 9  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th9' class="form-check" type="checkbox" {% if 9 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 9  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f9' class="form-check" type="checkbox" {% if 9 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 9  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa9' class="form-check" type="checkbox" {% if 9 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 9 in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su9' class="form-check" type="checkbox" {% if 9 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 9 in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">10:00 am - 11:00 am </th>
                  <td><input name="checkbox" value='m10' class="form-check" type="checkbox" {% if 10 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 10  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu10' class="form-check" type="checkbox" {% if 10 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 10 in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w10' class="form-check" type="checkbox" {% if 10 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 10  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th10' class="form-check" type="checkbox" {% if 10 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 10  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f10' class="form-check" type="checkbox" {% if 10 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 10  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa10' class="form-check" type="checkbox" {% if 10 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 10  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su10' class="form-check" type="checkbox" {% if 10 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 10  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">11:00 am - 12:00 pm </th>
                  <td><input name="checkbox" value='m11' class="form-check" type="checkbox" {% if 11 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 11  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu11' class="form-check" type="checkbox" {% if 11 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 11  in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w11' class="form-check" type="checkbox" {% if 11 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 11  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th11' class="form-check" type="checkbox" {% if 11 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 11  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f11' class="form-check" type="checkbox" {% if 11 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 11  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa11' class="form-check" type="checkbox" {% if 11 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 11  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su11' class="form-check" type="checkbox" {% if 11 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 11  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">12:00 pm - 1:00 pm </th>
                  <td><input name="checkbox" value='m12' class="form-check" type="checkbox" {% if 12 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 12  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu12' class="form-check" type="checkbox" {% if 12 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 12  in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w12' class="form-check" type="checkbox" {% if 12 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 12  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th12' class="form-check" type="checkbox" {% if 12 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 12  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f12' class="form-check" type="checkbox" {% if 12 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 12  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa12' class="form-check" type="checkbox" {% if 12 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 12  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su12' class="form-check" type="checkbox" {% if 12 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 12  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">1:00 pm - 2:00 pm </th>
                  <td><input name="checkbox" value='m1' class="form-check" type="checkbox" {% if 1 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 1  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu1' class="form-check" type="checkbox" {% if 1 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 1  in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w1' class="form-check" type="checkbox" {% if 1 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 1  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th1' class="form-check" type="checkbox" {% if 1 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 1  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f1' class="form-check" type="checkbox" {% if 1 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 1  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa1' class="form-check" type="checkbox" {% if 1 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 1  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su1' class="form-check" type="checkbox" {% if 1 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 1  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">2:00 pm - 3:00 pm </th>
                  <td><input name="checkbox" value='m2' class="form-check" type="checkbox" {% if 2 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 2  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu2' class="form-check" type="checkbox" {% if 2 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 2  in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w2' class="form-check" type="checkbox" {% if 2 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 2  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th2' class="form-check" type="checkbox" {% if 2 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 2  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f2' class="form-check" type="checkbox" {% if 2 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 2  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa2' class="form-check" type="checkbox" {% if 2 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 2  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su2' class="form-check" type="checkbox" {% if 2 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 2  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">3:00 pm - 4:00 pm </th>
                  <td><input name="checkbox" value='m3' class="form-check" type="checkbox" {% if 3 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 3  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu3' class="form-check" type="checkbox" {% if 3 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 3  in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w3' class="form-check" type="checkbox" {% if 3 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 3  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th3' class="form-check" type="checkbox" {% if 3 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 3  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f3' class="form-check" type="checkbox" {% if 3 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 3  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa3' class="form-check" type="checkbox" {% if 3 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 3  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su3' class="form-check" type="checkbox" {% if 3 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 3  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">4:00 pm - 5:00 pm </th>
                  <td><input name="checkbox" value='m4' class="form-check" type="checkbox" {% if 4 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 4  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu4' class="form-check" type="checkbox" {% if 4 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 4  in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w4' class="form-check" type="checkbox" {% if 4 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 4  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th4' class="form-check" type="checkbox" {% if 4 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 4  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f4' class="form-check" type="checkbox" {% if 4 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 4  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa4' class="form-check" type="checkbox" {% if 4 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 4  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su4' class="form-check" type="checkbox" {% if 4 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 4  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">5:00 pm - 6:00 pm </th>
                  <td><input name="checkbox" value='m5' class="form-check" type="checkbox" {% if 5 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 5  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu5' class="form-check" type="checkbox" {% if 5 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 5  in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w5' class="form-check" type="checkbox" {% if 5 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 5  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th5' class="form-check" type="checkbox" {% if 5 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 5  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f5' class="form-check" type="checkbox" {% if 5 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 5  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa5' class="form-check" type="checkbox" {% if 5 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 5  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su5' class="form-check" type="checkbox" {% if 5 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 5  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">6:00 pm - 7:00 pm </th>
                  <td><input name="checkbox" value='m6' class="form-check" type="checkbox" {% if 6 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 6  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu6' class="form-check" type="checkbox" {% if 6 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 6  in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w6' class="form-check" type="checkbox" {% if 6 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 6  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th6' class="form-check" type="checkbox" {% if 6 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 6  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f6' class="form-check" type="checkbox" {% if 6 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 6  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa6' class="form-check" type="checkbox" {% if 6 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 6  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su6' class="form-check" type="checkbox" {% if 6 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 6  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <tr>
                  <th scope="row">7:00 pm - 8:00 pm </th>
                  <td><input name="checkbox" value='m7' class="form-check" type="checkbox" {% if 7 not in tutor_schedule.0 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 7  in tutor_schedule.0 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='tu7' class="form-check" type="checkbox" {% if 7 not in tutor_schedule.1 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 7  in tutor_schedule.1 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='w7' class="form-check" type="checkbox" {% if 7 not in tutor_schedule.2 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 7  in tutor_schedule.2 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='th7' class="form-check" type="checkbox" {% if 7 not in tutor_schedule.3 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 7  in tutor_schedule.3 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='f7' class="form-check" type="checkbox" {% if 7 not in tutor_schedule.4 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 7  in tutor_schedule.4 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='sa7' class="form-check" type="checkbox" {% if 7 not in tutor_schedule.5 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 7  in tutor_schedule.5 %}Available{% endif %}</input></td>
                  <td><input name="checkbox" value='su7' class="form-check" type="checkbox" {% if 7 not in tutor_schedule.6 %} disabled = "true" {% endif %} onclick="inputClicked(this)">{% if 7  in tutor_schedule.6 %}Available{% endif %}</input></td>
               </tr>
               <!-- add more rows for each hour -->

            </tbody>
         </table>
      </div>
</body>
  </div>
		<div class="container-fluid">
			<div class = "text-center" >
				{% csrf_token %}
				<button type="submit" id="submit" class="btn btn-primary btn-lg" style="width: 100px; height: 50px;">Submit</button>
			</div>
		</div>

</form>
</html>